/* Base reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background: #FFFFFF; 
}

/* Navbar styling */
header .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #5d60b0; 
    color: white;
}

header .navbar-links a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

header .brand {
    font-weight: bold;
    font-size: 1.5em;
}

/* Main content styling */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 60px); /* Adjust based on navbar height */
}

.search-container h1 {
    color: #5d60b0; /* Adjust title color as needed */
    margin: 30px 0;
    font-size: 3em;
}

/* Search box styling */
.search-box {
    position: relative;
}

#search-input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #5d60b0;
    border-radius: 4px;
    width: 500px; 
}

#search-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 10px;
    background-color: #5d60b0; /* Adjust button color as needed */
    border: none;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #5d60b0; /* Button hover color */
}


#stockInfo, #stockQuote {
    max-width: 600px; /* Adjust the width as necessary */
    margin: 20px auto;
    padding: 20px;
    border-bottom: 1px solid #ccc; 
    text-align: center; /* This centers the text */
}

#stockInfo h2, #stockQuote h3 {
    color: #333;
    font-size: 1.5rem; /* Adjust size as necessary */
}

#stockInfo p, #stockQuote p {
    font-size: 1rem;
    color: #666; 
    margin: 10px 0; 

#stockInfo a {
    color: #007bff;
    text-decoration: none;
}

#stockInfo a:hover {
    text-decoration: underline;
}
}